datajoint>=0.13
pyopenephys @ git+https://github.com/datajoint-company/pyopenephys.git
openpyxl
pynwb>=2.0.0
element-interface @ git+https://github.com/datajoint/element-interface.git
plotly==5.9.0
seaborn
