[data-md-color-scheme="datajoint-light"] {

  --md-primary-fg-color: #fcb954;
  --md-primary-bg-color: #000000;

  --md-accent-fg-color: #fcb954;

  --md-code-bg-color: #59b6c92a;

  --md-footer-bg-color: #0f4d58;
  --md-footer-fg-color: #fcb954;
}

[data-md-color-scheme="datajoint-dark"] {

  --md-typeset-color: #eeeeee;

  --md-default-bg-color: #172c34;
  --md-default-fg-color--light: #fab85d;
  --md-default-fg-color--lighter: #87aeb2;
  --md-default-fg-color--lightest: #87aeb2;

  --md-primary-fg-color: #fcb954;
  --md-primary-bg-color: #000000;

  --md-accent-fg-color: #fcb954;

  --md-code-fg-color: #87aeb2;
  --md-code-bg-color: #2b3539;
  --md-code-hl-name-color: #17b2ff;
  --md-code-hl-operator-color: #87aeb2;
  --md-code-hl-punctuation-color: #87aeb2;
  --md-code-hl-comment-color: #ffd28d;
  --md-code-hl-generic-color: #87aeb2;
  --md-code-hl-variable-color: #87aeb2;
  --md-code-hl-number-color: #f5771e;
  --md-admonition-fg-color: #eeeeee;
  --md-admonition-bg-color: #2b3539;

  --md-typeset-table-color: #87aeb2;

  --md-footer-bg-color: #0f4d58;
  --md-footer-fg-color: #fcb954;
}