[data-md-color-scheme="datajoint-light"] {
  --md-primary-fg-color:               #59b7c9;

  --md-accent-fg-color:                #fcb954;

  --md-code-fg-color:                  #ff9900;
  --md-code-bg-color:                  #59b6c92e;

  --md-footer-bg-color:                #348899;
  --md-footer-fg-color:                #fcb954;
  }
  