[data-md-color-scheme="datajoint-light"] {

  --md-primary-fg-color: #fcb954;
  --md-primary-bg-color: #000000;

  --md-accent-fg-color: #fcb954;

  --md-code-bg-color: #59b6c92a;

  --md-footer-bg-color: #0f4d58;
  --md-footer-fg-color: #fcb954;
}

[data-md-color-scheme="datajoint-dark"] {

  --md-typeset-color: #ffffff;

  --md-default-bg-color: #172c34;
  --md-default-fg-color--light: #fab85d;

  --md-primary-fg-color: #fcb954;
  --md-primary-bg-color: #000000;
  
  --md-accent-fg-color: #fcb954;

  --md-code-fg-color: #87aeb2;
  --md-code-bg-color: #3c3c3c;

  --md-footer-bg-color: #0f4d58;
  --md-footer-fg-color: #fcb954;
}